// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$light10 : #FFFBE5;
$light20 : #FFF7CC;
$light30 : #FFEF99;
$normal40 : #FFE766;
$normal50 : #FFD700;
$normal60 : #CCAC00;
$dark70 : #998100;
$dark80 : #665600;
$dark90 : #4C4000;
$dark100: #191500;

$blue: #015055;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
